
<html>
<head>
 <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
  <link rel="stylesheet" href="/resources/demos/style.css"/>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#datepickerCheckIn" ).datepicker({
        dateFormat: "mm/dd/yy",
        minDate: 0,
        onSelect: function (date) {
            var dt2 = $('#datepickerCheckOut');
            var startDate = $(this).datepicker('getDate');
            var minDate = $(this).datepicker('getDate');
            dt2.datepicker('setDate', minDate);
            dt2.datepicker('option', 'minDate', minDate);
            $(this).datepicker('option', 'minDate', minDate);
    }});
    
    $('#datepickerCheckOut').datepicker({
        dateFormat: "mm/dd/yy"
    });
  } );
  </script>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"/>
<title>Insert title here</title>
</head>
<body>

<form action="/reservation/availableRooms" method="GET">
<p>Check-In Date: <input type="text" id="datepickerCheckIn" name="checkInDate"/></p>
<p>Check-Out Date: <input type="text" id="datepickerCheckOut" name="checkOutDate"/></p>
<input type="submit" value="Submit"/>
</form>
</body>
</html>